<div class="container">
    <h2>Login</h2>
    <form (submit)="login()">
        <div class="mb-3">
            <label class="form-label">Usuário</label>
            <input type="text" class="form-control" [(ngModel)]="username" name="username" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Senha</label>
            <input type="password" class="form-control" [(ngModel)]="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
        @if (errorMessage) {
        <p class="text-danger mt-2">{{ errorMessage }}</p>
        }
    </form>
</div>