<div class="container">
    <mat-card>
        <h2 class="text-center">Cadastro</h2>
        <mat-form-field appearance="outline">
            <mat-label>Usuário</mat-label>
            <input matInput [(ngModel)]="username" name="username" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="password" [(ngModel)]="password" name="password" required>
        </mat-form-field>

        <div class="button-container">
            <button mat-raised-button color="primary" class="btn-secundary" (click)="register()">
                <mat-icon>person_add</mat-icon> Cadastrar
            </button>
        </div>

        @if (errorMessage) {
        <p class="error-message">{{ errorMessage }}</p>
        }
    </mat-card>
</div>